/* ----------General styles for the whole app---------- */
* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(237, 217, 208);
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Style for GitHub icon */
img {
    position: fixed; 
    top: 2px; 
    left:2px; 
    width: 30px;
    height: 30px;
    opacity: 0;
    animation: fade 0.6s ease-in-out 1.2s forwards;
}

img:hover{
    width: 35px;
    height: 35px;
}

/* ----------General Styles for text---------- */
/* Style for Time Left, Score & High Score Text */
.header-text {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: rgb(215, 121, 148);
    font-size: 15pt;
    letter-spacing: 1px;
    opacity: 0;
}

/* Styles for the numbers under Time Left, Score & High Score */
.sub-header-text {
    font-family: "Paytone One", Helvetica, sans-serif;
    color: rgb(160, 57, 87);
    font-size: 40pt;
    opacity: 0;
    animation: fade 0.3s ease-in-out 1.5s forwards
}

/* ----------Styles for left side of app---------- */
#left {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: auto;
    margin-top: 10em;
    margin-right: 1em;
    margin-left: 1em;
}

/* Styles for Time Left text */
#timeLeft {
    margin-left: -300px;
    animation: slide-right 0.3s ease-in 1.5s forwards;
}

@keyframes slide-right {
    0% {
        margin-left: -300px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Styles for the Word List that appears under the Time Left panel */
#wordList {
    height: 300px;
    width: 230px;
    border-left: 5px solid transparent;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    animation: showup 0.5s ease-out 2.3s forwards;
    box-sizing: border-box;
}

@keyframes showup {
    0% {
        border-left: 5px solid transparent;
    }
    100% {
        border-left: 5px solid #edc7b7;
    }
}

#arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid #eebca7;
    top: 137px;
    opacity: 0;
    animation: buttin 0.5s ease-out 2.3s forwards;
}

@keyframes buttin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#scrollingWords {
    height: auto;
    width: 200px;
    margin-left: 30px;
    text-align: left;
    padding-left: 10px;
    margin-top: 133px;
    transition: margin-top 0.2s ease-out;
}

#scrollingWords ul {
    list-style: none;
    margin-top: 300px;
    animation: scrollonload 1s ease-out 1.5s forwards;
}

@keyframes scrollonload {
    0% {
        margin-top: 300px;
    }
    100% {
        margin-top: 0px;
    }
}

#scrollingWords li {
    margin-bottom: 10px;
    color: rgb(208, 147, 129);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 13pt;
    transition: font-size 0.2s linear, color 0.2s linear;
}

#scrollingWords li:hover {
    font-size: larger;
    color: rgb(160, 57, 87);
    cursor: default;
}

/* ----------Styles for center of app---------- */
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for the circle which contains the word */
#wordPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: #edc7b7;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    box-sizing: border-box;
}

.quaters {
    position: absolute;
    box-sizing: border-box;
    background: #edc7b7;
    border-top-left-radius: 175px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #00ff00;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #00ff00;
    width: 175px;
    height: 175px;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    top: 0;
    left: 0;
    transition: color 0.1s ease-out;
}

.movers {
    transition: transform 0.1s ease-out;
}

.q1c {
    animation: wheel1 1s linear forwards;
}

.q2c {
    animation: wheel2 1s linear forwards;
}

.q3c {
    animation: wheel3 1s linear forwards;
}

.q4c {
    animation: wheel4 1s linear forwards;
}

@keyframes wheel1 {
    0% {
        border-color: rgb(0, 255, 0);
    }
    10% {
        border-color: rgb(255, 255, 0);
    }
    20% {
        border-color: rgb(255, 0, 0);
    }
    30% {
        border-color: rgb(255, 0, 255);
    }
    53% {
        border-color: rgb(255, 0, 0);
    }
    76% {
        border-color: rgb(255, 255, 0);
    }
    100% {
        border-color: rgb(0, 255, 0);
    }
}

@keyframes wheel2 {
    0% {
        transform: rotate(-90deg);
        border-color: rgb(0, 255, 0);
    }
    10% {
        transform: rotate(0deg);
        border-color: rgb(255, 255, 0);
    }
    20% {
        transform: rotate(0deg);
        border-color: rgb(255, 0, 0);
    }
    30% {
        transform: rotate(0deg);
        border-color: rgb(255, 0, 255);
    }
    53% {
        transform: rotate(0deg);
        border-color: rgb(255, 0, 0);
    }
    76% {
        transform: rotate(0deg);
        border-color: rgb(255, 255, 0);
    }
    100% {
        transform: rotate(-90deg);
        border-color: rgb(0, 255, 0);
    }
}

@keyframes wheel3 {
    0% {
        transform: rotate(-90deg);
        border-color: rgb(0, 255, 0);
    }
    10% {
        transform: rotate(0deg);
        border-color: rgb(255, 255, 0);
    }
    20% {
        transform: rotate(90deg);
        border-color: rgb(255, 0, 0);
    }
    30% {
        transform: rotate(90deg);
        border-color: rgb(255, 0, 255);
    }
    53% {
        transform: rotate(90deg);
        border-color: rgb(255, 0, 0);
    }
    76% {
        transform: rotate(0deg);
        border-color: rgb(255, 255, 0);
    }
    100% {
        transform: rotate(-90deg);
        border-color: rgb(0, 255, 0);
    }
}

@keyframes wheel4 {
    0% {
        transform: rotate(-90deg);
        border-color: rgb(0, 255, 0);
    }
    10% {
        transform: rotate(0deg);
        border-color: rgb(255, 255, 0);
    }
    20% {
        transform: rotate(90deg);
        border-color: rgb(255, 0, 0);
    }
    30% {
        transform: rotate(180deg);
        border-color: rgb(255, 0, 255);
    }
    53% {
        transform: rotate(90deg);
        border-color: rgb(255, 0, 0);
    }
    76% {
        transform: rotate(0deg);
        border-color: rgb(255, 255, 0);
    }
    100% {
        transform: rotate(-90deg);
        border-color: rgb(0, 255, 0);
    }
}

.bouncy {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid rgba(255, 0, 0, 0.1);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.1);
    opacity: 0;
}

.bouncyIntro {
    animation: fade 0.6s ease-in-out 1.2s forwards;
}

.bounce {
    animation: bounce 1s linear;
    opacity: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.1);
    }
    5% {
        transform: scale(1.05);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
    }
    20% {
        transform: scale(1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.1);
    }
}

#word {
    position: absolute;
    font-family: "Paytone One", Helvetica, sans-serif;
    font-size: 30pt;
    color: rgb(160, 57, 87);
    opacity: 0;
    animation: fade 0.6s ease-in-out 1.2s forwards;
}

/* Styles for text input field */
#inputField {
    font-family: "Montserrat", Helvetica, sans-serif;
    position: relative;
    width: 400px;
    border-radius: 30px;
    background-color: #123c69d5;
    margin-top: 70px;
    outline: none;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 14px 12px;
    text-align: center;
    color: #eee2dc;
    font-weight: bold;
    font-size: 14pt;
    transition: background-color 0.1s linear;
    letter-spacing: 0.7px;
    opacity: 0;
    border: none;
    animation: fade 0.6s ease-in-out 1.2s forwards;
    cursor: pointer;
}

#message {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: bold;
    position: absolute;
    width: 150px;
    border-radius: 30px;
    background-color: #123c69d5;
    outline: none;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 7px 6px;
    text-align: center;
    color: rgb(0, 255, 0);
    letter-spacing: 1px;
    margin-top: 320px;
    opacity: 0;
    animation: slide-up 0.2s linear 1.5s forwards;
}

@keyframes slide-up {
    0% {
        margin-top: 320px;
        opacity: 0;
    }
    100% {
        margin-top: 290px;
        opacity: 1;
    }
}

/* ----------Styles for right side of app---------- */
#right {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: auto;
    margin-top: 1em;
}

/* Styles for current score */
#currentScore {
    margin: 0 100px;
}

#scoreTitle {   
    animation: fade 0.3s ease-in 1.5s forwards;
}

/* Styles for high score */
#highScore {
    margin-top: 100px;
}

#highScoreTitle {
    animation: fade 0.3s ease-in 1.5s forwards;
    transition: color 0.2s linear;
}

/* ----------Styles for the footer---------- */
footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0;
    animation: fade 0.6s ease-in-out 1.2s forwards;
}

#footerText {
    text-decoration: none;
    cursor: pointer;
    color:#a0999b;
}

#footerText:hover {
    color:#777273
}
